:root {
  --background: #f8fafc;
  --foreground: #0f172a;
 --header-curve:15% 10% 49% 52% / 0% 0% 49% 67% ;
 --light-bg:#f6f6f6;
 --gray-bg:#cccccc;
 --dark-bg:#252525;
 --moon-bg:#c9beb3;
 --nude-bg:#70553a;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select {
  font: inherit;
}
